@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
    margin: 0;
    padding: 0;
    height: 100%
}

body {
    font-family: 'Roboto', sans-serif;
    background: #daebff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: auto;
    margin-bottom: 100px;
}

h1 {
    color: #3a3b3c;
    margin-bottom: 70px;
    font-size: 60px;
}

.cell-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 380px;
    justify-content: center;
    align-items: center;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border: 5px solid #3a3b3c;
    font-size: 72px;
    font-weight: bold;
    cursor: pointer;
    color: #f80047;
}

.cell:first-child, 
.cell:nth-child(2), 
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n) {
    border-right: none;
}

.cell:nth-child(1n+7) {
    border-bottom: none;
}

.cell:nth-child(3n+1) {
    border-left: none;
}

.cell:hover {
    background: #f8004620;
}

.unclickable {
    pointer-events: none;
    cursor: default;
}

.announcement {
    margin: 26px 0 26px 0;
    font-size: 42px;
    color: #3a3b3c;
}

.new-game {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 26px;
    font-size: 32px;
    width: 200px;
    height: 50px;
    box-shadow: 3px 4px 4px 1px #3a3b3c80;
    border-radius: 12px;
    background: #daebff;
    color: #3a3b3c;
    cursor: pointer;
    
}

.new-game:hover {
    margin-bottom: 24px;
    border: 1px solid #3a3b3c;
}